body {
    background: rgb(214, 236, 241) url(/img/white-wall.png);
    color: rgb(147, 215, 255);
	font: normal 1.2em Verdana,Arial,sans-serif;
	height: 100%;
	padding-bottom: 1px;
	padding-top: 64px;
}
.gallery img{
	margin:5px;
	border:3px solid #fff;
}
a.photo:hover img{
	border:3px solid #034e80d3;
}
a {
    color: rgb(0, 9, 61);
}
#main {
	width:858px;
	margin:0 auto;
	padding: 15px;
	background: #65879c85;
	color: rgb(244, 247, 248);
}
.post_title h2 {
	font: normal 2em Arial,sans-serif;
	margin: 10px;
	padding: 0;
}
a:hover img {
border:3px solid #034F80;
animation: movement 0.2s infinite;
-webkit-animation: movement 0.2s infinite;
}

.link {
    margin-right: 20px;
}

.message {
	margin-bottom: 20px;
}

.form {
	margin-bottom: 10px;
}